@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

:root {
  --fontSize: 16px;
  --fontFamily: 'Source Sans Pro', sans-serif;
  --accents: #c3d52e;
  --white: #fff;
  --black: #000;
  --headings: #646464;
  --text: #7a7a7a;
  --lightGray: lightgray;
  --bg: #f5f5f5;
  --transition: .3s ease;
  --boxShadow: 0 2px 1px var(--lightGray);
}
/***************
basic styles
***************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  font-weight: 200;
  color: var(--text);
  background: var(--bg);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: var(--headings);
}
a {
  text-decoration: none;
}
a:hover {
  transition: var(--transition);
}
button {
  padding: 15px 60px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.btnGreen {
  background: var(--accents);
  border: 2px solid var(--accents);
}
.btnGreen:hover {
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
}
.btnTransparent {
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
}
.btnTransparent:hover {
  background: var(--white);
  border: 2px solid var(--white);
  color: var(--black);
}
.container {
  max-width: 1140px;
  margin: auto;
}
h2 {
  font-size: 2.5rem;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
/***************
header
***************/
header {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) ,url(img/header.jpg);
  background-position: center;
  background-size: cover;
}
nav {
  padding: 30px;
  font-weight: 300;
}
nav .logo {
  float: left;
  color: var(--accents);
  font-size: 2rem;
  font-style: italic;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  margin-left: 50px;
}
nav ul li a {
  color: var(--white);
  text-transform: uppercase;
  transition: var(--transition);
}
nav ul li a:hover {
  color: var(--accents);
}
header div {
  text-align: center;
  padding: 250px 0;
  color: var(--white);
}
header h1 {
  font-size: 6rem;
  color: var(--white);
  font-weight: 400;
}
header p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
/***************
uvod
***************/
.uvod {
  outline: 1px solid var(--lightGray);
  border-radius: 10px;
  background: var(--white);
  margin-top: -100px;
}
.uvod article:first-child {
  padding: 80px;
  text-align: center;
}
.uvod h2::after {
  display: block;
  content: '';
  width: 60%;
  height: 2px;
  background: var(--lightGray);
  margin: 40px auto;
}
.uvod p {
  font-size: 1.5rem;
}
.uvod article:last-child {
  background-image: url(img/uvod.jpg);
  height: 500px;
  background-position: center bottom;
  background-size: cover;
  border-radius: 0 0 10px 10px;
}
/***************
modeli
***************/
.modeli {
  outline: 1px solid var(--lightGray);
  border-radius: 10px;
  background: var(--white);
  margin-top: 50px;
  padding: 80px;
  box-shadow: var(--boxShadow);
}
.modeli article {
  width: 50%;
  float: left;
  padding: 40px;
  text-align: center;
}
.modeli i {
  background: var(--accents);
  padding: 30px;
  border-radius: 50%;
  color: var(--black);
}
.modeli h3 {
  font-size: 3rem;
  padding: 20px 0;
}
.modeli p {
  font-size: 1.3rem;
}
.modeli article:nth-child(1),
.modeli article:nth-child(3) {
  border-right: 2px solid var(--lightGray);
}
.modeli article:nth-child(1),
.modeli article:nth-child(2) {
  border-bottom: 2px solid var(--lightGray);
}